<div class='profile-container'>

  <h1>Company Profile.</h1>

    <div class='profile-header'>
      <img src='{{data.profileImg}}' height='200px'>
      <div class="profile-header-content">
        <h2>{{data.name}}</h2>
        <h3>Rating: 4.8</h3>
        <a href='{{data.url}}'>{{data.url}}</a>
      </div>
    </div>

    <form action='/source/{{data.id}}' method='POST' id='source-edit-profile'>

    <h2>Description</h2>
    <textarea name='description' form='source-edit-profile' cols="50" rows ="10">{{data.description}}</textarea>

    <h2>Polticial Bias</h2>
    <textarea name='politicalBias' form='source-edit-profile' cols="50" rows ="10">{{data.politicalBias}}</textarea>


    <h2>Sources of Funding in 2018</h2>
    <textarea name='fundingSources' form='source-edit-profile' cols="50" rows ="10">{{data.fundingSources}}</textarea>


    <button class='like-button big-like' type='submit'>Submit</button>

    </form>
 

   <h2>Recent Articles</h2>
    <div class='contributed-reviews'>
    {{#if articles}}
      {{#each articles}}
      <div class='recent-articles-img-container'>
        <img src='{{this.urlToImage}}' height='80px' width='80px'>
      </div>
      <div class='profile-content'>
        <p><strong>{{this.title}}</strong></p>
      </div>
      {{/each}}

    {{else}}
      <h3>No recent articles</h3>
    {{/if}}
    </div>

</div>