<div class='profile-container'>

  <h1>Edit your profile.</h1>

  <div class='profile-header'>

    <form action='/user/{{data.id}}' method='POST' id='user-edit-profile'>

    <img src='{{data.profileImg}}' height='200px'>
    <div class="profile-header-content">
        <textarea 
          name='username'
          form='user-edit-profile'
          cols='20'
          rows='1'>{{data.username}}
          </textarea>

        <textarea 
          name='profileImg'
          form='user-edit-profile'
          cols='20'
          rows='1'>Image URL
          </textarea>

      <h3>{{data.role}}</h3>
      <h3>Rating: {{data.reputation}}</h3>
    </div>

  </div>
  <div class='profile-content'>
    <h2>Description</h2>
    <textarea name='description' form='user-edit-profile' rows ="10">{{data.description}}</textarea>

    <p>{{user.reviews}}</p>

    <button class='like-button big-like' type='submit'>Submit</button>
    </form>

    <h2>Recent Comments</h2>

    <h4>No recent comments</h4>

  </div>

</div>
