<div class='profile-container'>

  <h1>Company Profile.</h1>

    <div class='profile-header'>
      <img src='{{data.profileImg}}' height='200px'>
      <div class="profile-header-content">
        <h2>{{data.name}}</h2>
        <h3>Rating: 4.8</h3>
        <a href='{{data.url}}'>{{data.url}}</a>
      </div>
    </div>

    <div class="company-properties">
      <p>Category: <em>{{data.category}}</em></p>
      <p>Country: <em>{{data.country}}</em></p>
      <p>Language: <em>{{data.language}}</em></p>
    </div>

    <h2>Description</h2>
    <p>{{data.description}}</p>

    <h2>Polticial Bias</h2>
    <p>{{data.politicalBias}}</p>


    <h2>Sources of Funding in 2018</h2>
    {{#each data.fundingSources}}
    <p>{{this}}</p>

    {{/each}}

    <p>{{data.id}}</p>


    {{#if user}}
    <a href='/source/{{data.id}}/edit'>Edit description</a>
    {{else}}
    <h3><a href='/auth/login'>Login to edit descriptions</a></h3>
    {{/if}}

    <h2>Recent Articles</h2>
    <div class='contributed-reviews'>
      {{#each articles}}
      <div class='recent-articles-img-container'>
        <img src='{{this.urlToImage}}' height='80px' width='80px'>
      </div>
      <div class='profile-content'>
        <p><strong>{{this.title}}</strong></p>
      </div>
      {{/each}}
    </div>

</div>