<h1>Company Profile</h1>

{{#each data}}
<h1>Name: <a href="{{this.url}}">{{this.name}}</a></h1>
<p>{{this.category}}</p><br>
<p>{{this.description}}</p>
{{/each }}


<a href="/homepages/sources">see all companies</a>


<h1>Related articles: </h1>
<ol>
  {{#each articles}}
    <li><a href="{{this.url}}">{{this.title}}</a></li>
  {{/each}}
</ol>
