<div class='profile-container'>

  <h1>Profile.</h1>

  <div class='profile-header'>

    <img src='{{data.profileImg}}' height='200px'>
    <div class="profile-header-content user-title-content">
      <h2>{{data.username}}</h2>
      <h3>{{data.role}}</h3>
      <h3 style='margin-bottom: 10px;'>Rating: {{data.reputation}}</h3>
      <a href='/user/{{data.id}}/edit' class='edit-button'>Edit profile</a>
    </div>

  </div>
  <div class='profile-content'>
    <h2>Description</h2>
    <p>{{data.description}}</p>
    {{!-- <h2>Contributed Reviews</h2> 

    <p>{{user.reviews}}</p> --}}
{{!-- 
    <div class='contributed-reviews'>
      <img src='https://liquidcinemavr.com/wp-content/uploads/2019/03/bbc-logo.jpg' height='80px'>
      <div class='profile-content'>
        <p><strong>BBC</strong></p>
        <p><em>Rating:</em> 4.6</p>
      </div>
    </div> --}}

    <h2>Recent Comments</h2>
    {{#each userComments}}
    {{this}}
    {{/each}}
  <div class='contributed-reviews'>
      <img src='https://www.aljazeera.com/mritems/imagecache/mbdxxlarge/mritems/Images/2019/5/18/19465020e67448568d269c83b9e853f8_18.jpg' height='80px' width='80px'>
      <div class='profile-content'>
        <p><strong>Venezuela opposition to resume Norway-backed talks</strong></p>
        <p><em>Rating:</em> 3.4</p>
      </div>
    </div>
  </div>

</div>
