<h1>Top stories.</h1>

<div class='homepage-container'>

  <div class='first-story-container'>
    <a href='/article/{{this._id}}'><img src='{{first.urlToImage}}' width='100%'></a>
    <div class='first-story-content'>
      <h2>{{title first.title}}</h2>
      <p>{{first.publishedAt}}</p>
    </div>

  </div>

  <hr />

  {{!-- {{#each data}}
  {{#if this.source.id}}
    <img src='{{this.urlToImage}}' height='100px'>
    <a href="{{this.url}}">{{this.title}}</a>
    <a href="/source/{{this.source.id}}">{{this.source.name}}</a><br />
   --}}

  {{#each data}}
  {{#if this.source.id}}
  <div class='stories-container'>
    <div class='stories-img-container'>
      <a href='/article/{{this._id}}'><img src='{{this.urlToImage}}' alt='news-image'></a>
    </div>
    <div class='stories-content'>
      <h3><a href='/article/{{this._id}}'>{{this.title}}</a></h3>
      <p><a href='/source/{{this.source.id}}'>{{this.source.name}}</a></p>
      <h6>{{this.publishedAt}}</h6>
    </div>
    <hr />
  </div>  
  {{/if}}
  {{else}}
    <p class="empty">No content</p>
  {{/each}}


</div>


