<ul>
{{#each data}}
{{#if this.source.id}}
  <li><a href="{{this.url}}">{{this.title}}</a></li>
  <a href="profile/source/{{this.source.id}}">{{this.source.name}}</a><br />
{{/if}}
{{else}}
  <p class="empty">No content</p>
{{/each}}
</ul>
