<div class='article-content'>
<h1>{{article.title}}</h1>
<h3>{{article.source.name}}</h3>
<p><em>Source reputation: </em>4.5</p>
<form action='/article/{{article.id}}' method='POST'>
  <button type='submit' id='like-button'>Like</button>
</form>

<img src='{{article.urlToImage}}' width='100%'>

<p>{{article.description}}</p>

<div class='article-source-info'>
  <h2>About this source...</h2>

  <h3>Description</h3>
    <p>{{source.description}}</p>

    <h3>Polticial Bias</h3>
    <p>{{source.politicalBias}}</p>

    <h3>Sources of Funding in 2018</h3>
    {{#each source.fundingSources}}
    <p>{{this}}</p>
    {{/each}}

  <br />
  <a href='/source/{{article.source.id}}'>Go to profile to edit description.</a>

</div>

<button class='article-redirect'><a href='{{article.url}}'>Go to source</a></button>

<hr />

<div class='comment-container'>

  <h2>Comments</h2>

  {{#if user}}
  <input 
    type='text' 
    name='comment'
    placeholder='Join the discussion...'
    id="new-comment"
  >
  {{else}}
  <h3><a href='/auth/login'>Login to write a comment</a></h3>
  {{/if}}

  <div class='article-comment'>
    <img src='../images/sample-headshot.jpg' height='100px'>
    <div class='article-comment-content'>
      <h3>Anthony King</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque consectetur nostrum maiores explicabo labore asperiores voluptate accusamus eligendi quo.</p>
      <p><em>Rating: </em>4.5</p>
      <button class='like-button'>Like</button>
    </div>
  </div>

</div>

</div>
