<div class='article-content'>
  <h1>{{article.title}}</h1>
  <a href='/source/{{article.source.id}}'><h3>{{article.source.name}}</h3></a>
  
    <div class='article-title-content'>
      <p id="ratingA"><em>Source reputation: </em>{{source.reputation}}</p>
      {{#if user}}
      <button class='like-button big-like' type='submit' id='like-button'>{{#if liked}}Unlike{{else}}Like{{/if}}</button>
      {{/if}}
    </div>

    <p>{{article.publishDate}}</p>


<img src='{{article.urlToImage}}' width='100%'>

<p>{{article.description}}</p>

<div class='article-source-info'>
  <div class='source-description-title'>
  <h2>About this source...</h2>
  {{#if user}}
  <a href='/source/{{article.source.id}}/edit' class='like-button edit-source-button'>Edit</a>
  {{else}}
  <a href='/auth/login' class='like-button edit-source-button'>Login to edit</a>
  {{/if}}
  </div>

  <h3>Description</h3>
    <p>{{source.description}}</p>

    <h3>Polticial Bias</h3>
    <p>{{source.politicalBias}}</p>

    <h3>Sources of Funding in 2018</h3>
    {{#each source.fundingSources}}
    <p>{{this}}</p>
    {{/each}}

  <br />
</div>

<div class='redirect-container'>
<a href='{{article.url}}'><button class='article-redirect'>Go to article</button></a>
</div>
<hr />

<div class='comment-container'>

  <h2>Comments</h2>

  {{#if user}}
  <input 
    type='text' 
    name='comment'
    placeholder='Join the discussion...'
    id="new-comment"
  >
  {{else}}
  <h3><a href='/auth/login'>Login <span class='link'>here</span> to join the discussion.</a></h3>
  
  {{/if}}
  {{#each article.comments}}
  <div class='article-comment'>
    <img src='{{this.author.profileImg}}' height='100px'>
    <div class='article-comment-content'>
      <h3>{{this.author.username}}</h3>
      <p>{{this.content}}</p>
      <p id="comment-rating"><em>Rating: </em>{{this.rating}}</p>
      {{!-- {{#if user}} --}}
      <button class='like-button' value={{this._id}}>{{#if this.liked}}Unlike{{else}}Like{{/if}}</button>
      {{!-- {{/if}} --}}
    </div>
  </div>
  {{/each}}
</div>

</div>
