<div class='article-content'>
<h1>{{article.title}}</h1>
<h3>{{article.source.name}}</h3>
<p><em>Source reputation: </em>{{article.rating}}</p>
  {{!have a f for like/dislike changing}}
  <button type='submit' id='like-button'>Like</button>

<img src='{{article.urlToImage}}' width='100%'>

<p>{{article.description}}</p>

<div class='article-source-info'>
  <h2>About this source...</h2>

  <h3>Description</h3>
    <p>{{source.description}}</p>

    <h3>Polticial Bias</h3>
    <p>{{source.politicalBias}}</p>

    <h3>Sources of Funding in 2018</h3>
    {{#each source.fundingSources}}
    <p>{{this}}</p>
    {{/each}}

  <br />
  <a href='/source/{{article.source.id}}'>Go to profile to edit description.</a>

</div>

<button class='article-redirect'><a href='{{article.url}}'>Go to source</a></button>

<hr />

<div class='comment-container'>

  <h2>Comments</h2>
  <input 
    type='text' 
    name='comment'
    placeholder='Write a comment...'
    id="new-comment"
  >
  {{#each article.comments}}
  <div class='article-comment'>
    <img src='{{this.author.profileImg}}' height='100px'>
    <div class='article-comment-content'>
      <h3>{{this.author.username}}</h3>
      <p>{{this.content}}</p>
      <p><em>Rating: </em>{{this.rating}}</p>
      <button class='like-button'>Like</button>
    </div>
  </div>
  {{/each}}
</div>

</div>