
<h1>All news sources.</h1>

<div class='sources-container'>
{{#each data}}
  <div class='source-item'>
    <div class='source-item-img'>
    <a href='/source/{{this.id}}'><img src='{{this.profileImg}}'></a>
    </div>
    <h4><a href="/source/{{this.id}}">{{this.name}}</a></h4>
    <p><em>Reputation: </em>{{this.reputation}}</p>
  </div>
{{/each }}
</div>
